.nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color:blue;
}


.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.misc img{ display: block;
	   margin-left: auto;
  	   margin-right: auto;
 	   width: 85%; }
.misc h2{text-align:center; margin-top:50px; margin-right:100px;}

.footer {
  padding: 20px;
  text-align: center;
  background: #dddacd;
  margin-top: 20px;
}